@charset "utf-8";

.Att-Content{
	width:1450px;height:900px;
	float:left;
	background:#dee3eb;
	display:flex;
	position: absolute;
	left : 380px; 
	margin:20px 60px 20px 0px;
}


.Att-Content-warp{
	width: 1390px;
	padding: 50px;
}


/* ------------------------Att-Content-Up START-----------------------------*/
.Att-Content-Up{
	height: 300px;
}

.Att-Content-table {
	width: 1200px; height: 120px;
	background:  white;
	border-radius: 15px;
	border-collapse: collapse;
	margin-left: 60px;
	box-shadow: 10px 10px 0px -3px rgb(105, 105, 105);
}

.Att-Content-table > caption{
	font-size: 20px;
	text-align: left;
	padding: 50px 0px 50px 20px;
}

.Att-Content-table > tr .content{
	color: aqua;
}

.Att-Content-value{
	font-size: 25px;
	font-weight: bold;
}

.Att-Content-value .value1{
	color: #4D6EC9;;
}

.Att-Content-value .value2{
	color: rgb(76, 202, 151);
}

.Att-Content-table td{
	
	padding: 10px;
	text-align: center;
}

.Att-table-user{
	margin-top: 20px;
	border-right: 1px solid gray;
	line-height: 40px;
}

/* ------------------------Att-Content-Up END-----------------------------*/


/* ------------------------Att-Content-Down START-----------------------------*/

.Att-Content-Down{
	height: 500px;
}

.Att-UH-title {
	font-size: 20px;
	text-align: left;
	padding: 50px 0px 20px 80px;
}

.Att-UH-board{
	width:95%;  height:370px;
	margin-left: 30px;
	background:#fff;
	display:inline-block;
	position:relative;
	border-radius: 0 0 15px 15px ;

}

.Att-UH-board table{
	border-collapse: collapse;
}

.Att-UH-board a{
	text-decoration: none;
	color: inherit;
}

.Att-UH-board_list{
	width: 100%;
	border-top:  1px solid #4D6EC9;
}

.UH-list-top{
	background:#4d6ec928;
	border-bottom:  1px solid #4D6EC9;
}


.Att-UH-board_list tr{
	border-bottom: 1px solid #ccc;
}

.Att-UH-board_list th{
	padding: 15px;
	font-size: 15px;
}
.Att-UH-board_list td{
	padding: 10px;
	/*border: 1px solid #999;*/
	font-size : 14px;
}

.Att-UH-board_list td{
	text-align: center;
}

.Att-UH-board_list .tit {
	text-align: left;
	width:700px;
}

.Att-UH-board_list .tit:hover {
	text-decoration: underline;
}

.UH-paging{
	width: 1197px; height: 30px;
	display: flex;    justify-content: center;
	position:absolute;
	padding-top: 20px;
}

.UH-paging a{
	display: inline-block;
	margin-left: 10px;
	padding: 5px 10px;
	/*
	border: 1px solid #000;*/
	border-radius: 100px;
	font-size: 12px;
	text-decoration-line: none;
	color: #000;
	background-color: white;
}

.UH-paging a:first-child{
	margin-left: 0;
}

.UH-paging a.num.on{
	background-color: #4D6EC9;
	border : 1px solid #4D6EC9;
	color: white;
}
.UH-paging a.bt{
	border : none;
}



/* ------------------------Att-Content-Down END-----------------------------*/


